<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>DomoMaker</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    const countBanks = () => 
    {
    var container_div = document.getElementById('banks');
    var count = container_div.getElementsByTagName('div').length-1;
    return count;
    };

    const showIncome = () => {
        var bCount = countBanks();
        console.log(bCount);
        $("#incomeDisplay").html(bCount);
        return bCount;
    };
    
    const updateIncome = () => 
    {
        bCount = showIncome();
        $("#credDisplay").html(parseInt($('#credDisplay').html())+bCount);
    };
    $(document).ready(function(){
      showIncome();    
      setInterval(updateIncome, 1000);
      
      $("#incPanel").submit(function(e) {
            e.preventDefault(); // Prevents the page from refreshing
            var $this = $(this); // `this` refers to the current form element
            $.post(
                $this.attr("action"), // Gets the URL to sent the post to
                $this.serialize(), // Serializes form data in standard format
                function(data) {$('#credDisplay').html(parseInt($('#credDisplay').html())+1);},
                "json" // The format the response should be in
            );
        });
        $("#bankPanel").submit(function(e) {
            e.preventDefault(); // Prevents the page from refreshing
            var $this = $(this); // `this` refers to the current form element
            $.post(
                $this.attr("action"), // Gets the URL to sent the post to
                $this.serialize(), // Serializes form data in standard format
                function(data) {location.reload();},
                "json" // The format the response should be in
            );
        });
    });
  </script>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>
  <br>
  <div class="panel">
    <label>Credits: </label> 
    <label id="credDisplay">{{credits}}</label>
    <label>|</label>
    <label>Income: </label>
    <label id="incomeDisplay">0</label>
    <label>|</label>
    <!-<input id="domoCredits" type="text" name="credits" placeholder="Credits"/>
    <form id="bankPanel" name="panel" action="/bankMaker" method="POST">
      <label>Cost:</label><label id="bankCost">{{bcost}}</label>
      <input type="hidden" name="_csrf" value={{csrfToken}} /> 
      <input class="makeDomoSubmit" type="submit" value="Make Bank" />
    </form>
  </div>
  <br>
   <div class="panel">
  <form id="incPanel" name="panel" action="/addCredit" method="POST">
  <input type="hidden" name="_csrf" value={{csrfToken}} /> 
  <input id="addCred" class="makeDomoSubmit" type="submit" value="Add 1 Credit" />
  </form>
  </div>
  <section id="banks">
    <div class="domo">
      {{#if banks}}
        {{#each banks}}
          <div class ="domo"><img src="/assets/img/domoface.jpeg" alt="domo face" class="domoFace"/>
            <h3 class = "domoName">Bank</h3>
          </div>
        {{/each}}
        {{else}}
          <h3 class="emptyDomo">No Banks yet</h3>
        {{/if}}
    </div>
  </section>
  <div id="domoMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3><img id="domo" src="assets/img/domo.png" alt="domo"/>
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>