<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>SocialGame</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
  
    const countIncome = () => 
    {
    var container_div = document.getElementById('tweets');
    var count = container_div.getElementsByClassName('tweetIncome');
    var inc = 0;
    for(var i = 0; i < count.length; i++){
        inc = inc + parseInt(count[i].innerHTML);
    }
    return inc;
    };

    const showIncome = () => {
        var bCount = countIncome();
        console.log(bCount);
        $("#incomeDisplay").html(bCount);
        return bCount;
    };
    
    const updateIncome = () => 
    {
        bCount = showIncome();
        $("#credDisplay").html(parseInt($('#credDisplay').html())+bCount);
    };
    $(document).ready(function(){
      showIncome();    
      setInterval(updateIncome, 1000);
      
      $("#incPanel").submit(function(e) {
            e.preventDefault(); 
            var $this = $(this); 
            $.post(
                $this.attr("action"), 
                $this.serialize(), 
                function(data) {$('#credDisplay').html(parseInt($('#credDisplay').html())+1);},
                "json" 
            );
        });
        $("#friendPanel").submit(function(e) {
            e.preventDefault(); 
            var $this = $(this); 
            $.post(
                $this.attr("action"), 
                $this.serialize(), 
                function(data) {location.reload();},
                "json" 
            );
        });
        $("#lowPanel").submit(function(e) {
            e.preventDefault(); 
            var $this = $(this); 
            $.post(
                $this.attr("action"), 
                $this.serialize(), 
                function(data) {location.reload();},
                "json" 
            );
        });
    });
  </script>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/faceFrog.png" alt="face logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/help">Help</a></div>
    <div class="navlink"><a href="/changePass">Change Password</a></div>
  </nav>
  <br>
  <div class="panel">
    <label>Impressions: </label> 
    <label id="credDisplay">{{impressions}}</label>
    <label>|</label>
    <label>Followers: </label>
    <label id="incomeDisplay">0</label>
    <label>|</label>
    <table>
    <tr>
    <td>
    <label>Cost:</label><label id="badCost">{{bcost}}</label>
    </td>
    <td>
    <form id="friendPanel" name="panel" action="/tweetBad" method="POST">
      <input type="hidden" name="_csrf" value={{csrfToken}} /> 
      <input class="makeSubmit" type="submit" value="Tweet at a friend" />
    </form>
    </td>
    <tr>
    <td>
    <label>Cost:</label><label id="lowCost">{{lcost}}</label>
    </td>
    <td>
    <form id="lowPanel" name="panel" action="/tweetLow" method="POST">
      <input type="hidden" name="_csrf" value={{csrfToken}} /> 
      <input class="makeSubmit" type="submit" value="Tweet about cats" />
    </form>
    </td>
    </tr>
    </table>
  </div>
  <br>
  <div class="panel">
  <form id="incPanel" name="panel" action="/addCredit" method="POST">
    <label>Spam Power: </label><label id="spamPow">1</label>
    <input type="hidden" name="_csrf" value={{csrfToken}} /> 
    <input id="addCred" class="makeSubmit" type="submit" value="Spam your account" />
  </form>
  <!--<form id="aviPanel" name="panel" action="/upgradeAvatar" method="POST">
    <input type="hidden" name="_csrf" value={{csrfToken}} /> 
    <input id="upgradeAvi" class="makeSubmit" type="submit" value="Upgrade Avatar" />
  </form>!-->
  </div>
  <section id="tweets">
    <div class="tweets">
      {{#if tweets}}
        {{#each tweets}}
          <div class ="tweet"><img src="/assets/img/egg.jpg" alt="domo face" class="domoFace"/>
            <p class = "tweetAcc">{{../accountName}} </p><p class = "tweetAt"> @{{../accountName}}</p><p class = "tweetIncome">{{this.income}}</p>
            <p class = "tweetText">{{this.textContents}}</p>
          </div>
        {{/each}}
        {{else}}
          <h3 class="emptyDomo">This user hasn't tweeted yet.</h3>
        {{/if}}
    </div>
  </section>
  <div id="domoMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3><img id="domo" src="assets/img/domo.png" alt="domo"/>
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>